<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h1 class="text-center">Bien Hecho!!</h1>
        <br />
        <img src="http://us.123rf.com/450wm/sararoom/sararoom1305/sararoom130500025/19552742-ejemplo-de-hombre-jogging-grasa-cansado.jpg?ver=6" style="width:50%" class="center-block" />
        <br />
        <div id="start" class="row">
            <a href="#/workout">
                <span>Comenzar de nuevo!</span>
                <span class="glyphicon glyphicon-play"></span>
            </a>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>
